[Unit]
Description=tictactoe service
After=network.target

[Service]
User=root
ExecStart=/bin/bash -c "source /home/botsenv/bin/activate && python3 /home/tictactoebot/server.py"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
